modules = ["nodejs-20"]
run = "npm run dev -- -H 0.0.0.0 -p 3000"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && npm run start -- -H 0.0.0.0 -p 3000"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
